:root { /* definimos las variables de colores principales */
    --azulprofundo: #005883;
    --amarillooscuro: #f0b429;
    --naranja: #f47920;


}




* {
    
    padding: 0 auto;
    
    
    
}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 62.5%;

}

.titulo{
    text-align: center;
    padding: 0 auto;
    color: var(--azulprofundo)
    
}
h1{
    text-shadow: 1px 1px 2px #ccc;
}

.titulo span {
    font-size: 3rem;
    font-weight: normal;
    color: var(--azulprofundo);
    text-shadow: 1px 1px 2px #ccc;
}



img{
    max-width: 100%;
    padding: 5px auto;
    
    
}


footer{
    text-align: center;
    color: white;
    padding: 3px;
    
}

footer p{
    background-color: var(--naranja);
    text-align: center;
    padding: 5px; 
    border: 1px 1px 2px #ccc;
    
}
