:root { /* definimos las variables de colores principales */
    --azulprofundo: #005883;
    --amarillooscuro: #f0b429;
    --naranja: #f47920;

}

html{
    font-size: 62.5%;
}
body{
    font-size: 16px; /* 1rem = 10px */
}




* {
    background-color: #ffffff;
    padding: 0 auto;
    font-family: 'Roboto', sans-serif;
}

header{
    display: flex;
    padding-top: 10px;

}

.titulo{
    text-align: center;
    padding: 15px;
}

.titulo span {
    font-size: 3rem;
}



img{
    display: block;
    max-width: 100%;
    
}

nav .ul{
    display:flex;
}
